@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Port+Lligat+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Metrophobic", sans-serif;
    /* background-color: var(--black); */
}
/* yeh maine variable banaya jiske karan mein colour ko ek hi baari mein change kr skta hu bar bar change na krna pade */
:root{
    --white:#fff;
    --black:#000;
    --primary-grey: #4a4a4a;
    --secondary-grey:#f5f6f8;
    --primary-yellow:#eaa606;
    --secondary-yellow:#7f602d;
}

html{
    scroll-behavior: smooth;

}

/* ---general Styling */
/* this is used for general things without repeation */
a{
    text-decoration: none;
    color: var(--black);
}

li{
    list-style: none;
}

h1, h2, h4{
    color: var(--black);
}

h1{
    font-size: 2.6rem;
    font-family: "Port Lligat Slab", serif;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.3rem;
    color: var(--primary-yellow);
}

h4{
    font-size: 1.2rem;
}

p{
    font-size: 1rem;
    color: var(--primary-grey);
    margin-top: 1rem;
    margin-bottom: 2rem ;
    margin-left: 0rem;
    margin-right: 0rem;
    max-width: 80%;
}

.para{
    max-width: 100%;
}

.primary-btn{
    border: .1rem solid var(--primary-yellow);
    background: var(--primary-yellow);
    color: var(--black);
}

.r{
    background: rgb(14, 13, 11);
}

/* ---portfolio section--- */

.portfolio-card{
    width: 20rem;
    height: 12em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.portfolio-card:nth-child(1){
    background-image: url("/picture1.jpg");
}
.portfolio-card:nth-child(2){
    background-image: url("/picture2.jpg");
}
.portfolio-card:nth-child(3){
    background-image: url("/picture3.jpg");
}
.portfolio-card:nth-child(4){
    background-image: url("/picture4.jpg");
}
.portfolio-card:nth-child(5){
    background-image: url("/picture5.jpeg");
}
.portfolio-card:nth-child(6){
    background-image: url("/picture 6.avif");
}

.portfolio-card::before{
    content: "";
    background: var(--black);
    position: absolute;
    inset: 0;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

.portfolio-card:hover::before{
    opacity: .7;
}

.demo{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -20%;
    transition: top .3s ease-in-out;
}

.portfolio-card:hover .demo{
    top: 50%;
}

/* ---work together section--- */

.project-section{
    padding: 2.5rem 0;
    position: relative;
}

.project-content{
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.project-content h2{
    font-size: 2rem;
}

.project-section::before, .project-section::after{
    content: "";
    height: 50%;
    width: 8em;
    background: black;
    position: absolute;
}

.project-section::before{
    top: 0;
    right: 50px;
    border-radius: 0 0 50% 50%;
    background: linear-gradient(var(--secondary-yellow), var(--black));
}

.project-section::after{
    bottom: 0;
    left: 50px;
    border-radius: 50% 50% 0 0;
    background: linear-gradient(var(--black), var(--primary-grey));
}

/* ---contact us section--- */

.form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 50%;
}

input, textarea{
    width: 100%;
    border: none;
    border-radius: 2rem;
    padding: .9rem 1rem;
    resize: none;
    background-color: rgb(65, 48, 1);
    font-size: 1rem;
}

input:focus, textarea:focus{
    outline: .1rem solid var(--primary-yellow);
}

/* ---footer section--- */

.footer-section{
    padding: 2rem 0;  
    text-align: center; 
    font-weight: bolder;
    ;
}